<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Satoshi</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            {% if user.is_authenticated %}
                <li><a href="#">Sign out</a></li>
            {% else %}
                <li><a href="#">Sign in</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>