{% extends 'base.html' %}

{% block title %}
    Satoshi service
{% endblock %}


{% block content %}

    <div class="row column text-center">
      <h1>Welcome to the fileexchange service</h1>
    </div>
    <hr>

    <div class="row column align-middle">
      <div class="callout primary text-center">
        <h3>Satoshi-matoshi</h3>
      </div>
      <div class="callout primary row align-left">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <div class="medium-6 large-3 columns">
              <button type="submit" class="button success">Upload</button>
            </div>
        </form>
      </div>
    </div>

    <hr>

{% endblock %}
