{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    File page
{% endblock %}


{% block content %}

<div class="row column align-middle">
  <div class="callout primary text-center">
    <h3>File page</h3>
  </div>
  <div class="callout primary text-center">
    <dl>
    <dt>Cost</dt>
    <dd>{{ f.cost }}</dd>
    <dt>owner's BTC address</dt>
      <dd>{{ f.bitcoin_address }}</dd>
      <dd><a href="{{ f.file.url }}" download=""><span class="label">Download</span></a></dd>
    </dl>
  </div>
</div>


{% endblock %}